:root {
    --azul_fuerte: #233251;
    --azul_medio: #3159BE;
    --azul_palido: #6888DC;
    --azul_muy_palido: #C1E3FF;
    --aqua_medio: #68DCCF;
    --verde_medio: #61B064;
    --amarillo_medio: #FFD44D;
    --gris_medio: #354043;
    --gris_fuerte: #21292B;
    --rosa_palido: #FE938C;
    --rosa_muy_palido: #FEE3FF;
  }